@mixin link($color: $text-color) {
  font-size: calc(1rem + 1.4vw);
  color: $color;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  &:hover {
    color: $neon-color;
    border-bottom: 1px solid $neon-color;
  }
}
