@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600;800&family=Inter:wght@400;500;600;700&family=Newsreader:wght@400;500;600&display=swap");

// font
$main-font: "Alegreya", serif;

// color
$white: white;
$neon-color: rgb(158, 0, 197);

// screens

// animations
$ease-5s: ease-in-out 0.5s;
